body {
    top: 0;
    left: 0;
}

.topleft-div .title{
    font-family: "Helvetica Neue";
    font-size: 11px;
    margin-left: 92.7%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 7px;
    background-color: ;
    position: fixed;
}

.topleft-div .logo-image img{
    height: 90px;
    width: 90px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 15px;
    margin-left: 86%;
    position: fixed;
}

.nav-background {
    position: absolute;
    top; 0;
    left: 0;
    z-index: 0;
    background-color: white;
    color: white;
    width: 100%;
    margin-top: -25px;
    height: 17%;
    position: fixed;
}

.title-1 
{
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    letter-spacing: 2px;
    font-size: 400%;
    margin-left: 17%;
    font-family: 'Trade Winds';
    position: fixed;
    margin-top: 1%;
}

.dropdown {
  position: relative;
  display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background-color: white;
    height: 110px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 10%;
    height: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 0;
    left:0;
    position: absolute;
    z-index: 2;
    margin-left: 6.5%;
    margin-top: 3.75%;
    padding-right: 16px;
    position: fixed;
}

.homebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 0;
    left:0;
    position: absolute;
    z-index: 2;
    margin-left: 6.5%;
    margin-top: 0.6%;  
    position: fixed;
    width: 49px;
}

.hubbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 0;
    left:0;
    position: absolute;
    z-index: 2;
    margin-left: 3.2%;
    margin-top: 0.6%;  
    height: 91px;
    position: fixed;
}

.homebtn:hover {
    background-color: #444;
}

.hubbtn:hover {
    background-color: #444;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar {
    height: 250px; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 3; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    /*opacity: 90%;*/
    height: 100%;
}

.sidebar a { /* The sidepanel links */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #444;
}

.ocean-background {
    background-image: url(images/background1.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.underwater-background {
    background-image: url(images/background2.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}



















