body {
    top: 0;
    left: 0;
    background-color: skyblue;
}
.topleft-div .title{
    font-family: "Helvetica Neue";
    font-size: 10px;
    margin-left: 92%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 7px;
    background-color: ;
}

.topleft-div .logo-image img{
    height: 80px;
    width: 80px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 15px;
    margin-left: 86%;
}

h2{
    position: absolute;
    top; 0;
    left: 0;
    z-index: 0;
    background-color: white;
    color: white;
    width: 100%;
    margin-top: -25px;
    height: 18%;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 0;
    left:0;
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    margin-top: 60px;
    padding-right: 16px;
}

.homebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    top: 0;
    left:0;
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    margin-top: 15px;  
}

.homebtn:hover {
    background-color: #444;
}
/* The sidepanel menu */
.sidebar {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    /*opacity: 90%;*/
    height: 100%;
}
/* The sidepanel links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* The sidepanel links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}






















