body {
    top: 0;
    left: 0;
    background-color: skyblue;
}
.topleft-div .title{
    font-family: "Helvetica Neue";
    font-size: 10px;
    margin-left: 9%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 8px;
    background-color: ;
}

.topleft-div .logo-image img{
    height: 80px;
    width: 80px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 15px;
    margin-left: 3%;
}

h2{
    position: absolute;
    top; 0;
    left: 0;
    z-index: 0;
    background-color: white;
    color: white;
    width: 100%;
    margin-top: -25px;
    height: 20%;
}

