.title 
{
    width: 8%;
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 1%;
}

.title .word1
{
    position: absolute;
    z-index: 1;    
    margin-top: 9px;
    font-size: 20px;
    margin-left: 11px;
    font-family: 'Montserrat';
    color: #C20114;
}

.title hr 
{
    position: absolute;
    z-index: 1;
    margin-top: 27px;
    width: 114px;
    color: #C7D6D5;
    height: 2px;
    background-color: #C7D6D5;
    border: none;
    margin-left: 5px;
}

.title .word2 
{
    position: absolute;
    margin-top: 25px;
    z-index: 1;
    margin-left: 22px;
    font-size: 19px;
    color: #C20114;
    font-family: 'Montserrat';
    
}
