body
{
    top: 0;
    left: 0;
    background-color: #133863;
}

.aboutTitle
{
    font-family: "Inter";
    font-variant-caps: all-petite-caps;
    position: absolute;
    font-size: 10;
    margin-left: 5%;
}


.aboutBackground
{
    z-index: -1;
    position: absolute;
    background-color: #E1ECF9;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}

.aboutBackgroundTwo
{
    z-index: -1;
    position: absolute;
    background-color: #236AB9;
    top: 10%;
    left: 0;
    height: 70%;
    width: 100%;    
}

.logo
{
    margin-top: 3px;
    position: absolute;
}

.topnav 
{
    margin-top: 10px;
}

.whatAre
{
    position: absolute;
    top: 15%;
    left: 15%;
}

.whatAre h2
{
    font-family: "Raleway";
    font-variant-caps: all-petite-caps;
    color: #609CE1;
}

.whatAre p
{
    font-family: "Roboto";
    width: 50%;
    color: #091D34;
}

.whatAreImage 
{
    top: 17%;
    position: absolute;
    width: 23%;
    height: 20%;
    overflow: hidden;
    left: 60%;
}

.whatAreImage img
{
    width: 400px;
}

.whatIs
{
    position: absolute;
    top: 46.5%;
    left: 41%;
    width: 45%;
}

.whatIs h2
{
    font-family: "Raleway";
    font-variant-caps: all-petite-caps;
    color: #609CE1;
}

.whatIs p
{
    font-family: "Roboto";
    color: #091D34;
}

.whatIsImage 
{
    top: 50%;
    position: absolute;
    width: 23%;
    height: 20%;
    overflow: hidden;
    left: 15%;
}

.whatIsImage img
{
    width: 400px;
}









.stats 
{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
}

.stats h1
{
    text-align: center;
    font-family: "Inter";
    font-variant-caps: all-petite-caps;
    color: #609CE1;
}

.stats .statsGraph
{
    width: 25%;
    position: absolute;
    left: 10%;
    margin-top: 20px;
}

.stats ul
{
    color: #091D34;
    position: absolute;
    left: 40%;
    font-size: 20px;
    font-family: "Roboto";
    width: 48%;
}



















