body, html
{
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
}

.bg
{
    background-image: url("/assets/images/homebackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu 
{
    left: 62%;
    top: 2%;
    width: 40%;
    overflow: auto;
    z-index: 1;
    position: absolute;
    font-family: 'Raleway';
    text-align: center;
    font-variant-caps: all-petite-caps;
}

.menu a
{
    display: inline-flex;
    width: 23%;
    color: #C7D6D5;
    text-decoration: none;
    font-size: 2vw;
}


.menu a:hover 
{
    color: #fff;
}

.menu .homecolor 
{
    color: #C20114;
}
.featured 
{
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 40%;
    top: 50%;
    left: 60%;
    border-style: solid;
    border-color: #C7D6D5;
}
.featured .background 
{
    background-color: #26734d;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}


.background h1 /*This is the title of the featured work section*/
{
    text-align: center;
    font-family: 'Montserrat';
    color: #0C120C;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.featured .link .img /*this is the image of the featured work*/
{
    position: absolute;
    z-index: 2;
    width: 60%;
    top: 18%;
    left: 19%;
}

.featured .link:hover /*turns featured title and image opacity down*/
{
    opacity: 0.9;
}

.featured .link .featuredtitle /*this is the title of the featured work*/
{
    width: 90%;
    position: absolute;
    z-index: 3;
    top: 60%;
    text-align: center;
    font-size: 1vw;
    text-decoration: underline;
    color: lightblue;
    margin-left: 5%;
}


.featured .description /*this is the description for the featured work*/
{
    position: absolute;
    z-index: 3;
    color: #C7D6D5;
    margin-top: 225px;
    text-align: center;
    font-family: sans-serif;
    width: 90%;
    margin-left: 5%;
    font-size: 1.2vw;
}

