body /*Sets the blue "water" background portion*/
{
    background-color: #236AB9;
}



.title /*Position the title div*/
{
    width: 100%;
    position: absolute;
    top: 35%;
}
.title h1 /*Position the Water title*/
{
    font-size: 75px;
    letter-spacing: 10px;
    padding: 0;
    margin-top: -20px;
    font-variant-caps: petite-caps;
    font-family: "Inter";
    text-align: center;
}
.title h2 /*Position the Life Under title*/
{
    font-size: 30px;
    padding: 0;
    margin-top: 57px;
    letter-spacing: 9px;
    font-variant-caps: petite-caps;
    font-family: "Inter";
    text-align: center;
}




.basic-background /*Creates the white background*/
{
    background-color: #E1ECF9;
    color: #236AB9;
    width: 100%;
    position: absolute;
    top: 0; 
    height: 50%;
    z-index: -1;
    left: 0;
}





.slideshow /*Positioning of the slideshow image*/
{
    border: solid;
    border-color: #E1ECF9;
    border-width: 2px;
    position: absolute;
    z-index: 30;
    width: 35%;
    left: 0;
    margin-left: 12.5%;
    top: 80%;
    height: 34vh;
    overflow: hidden;
    background-color: grey;
}
.slideshow img:hover /*Image changes color to symbolize a link*/
{
    opacity: 0.7;
}
.slideTexts /*Position of all of texts for slideshow*/
{
    position: absolute;
    width: 35%;
    left: 0;
    margin-left: 52.5%;
    top: 80%;
}
.mySlides /*Fitting image*/
{
    width: 520px;
    display: none;
}
.myTexts h1 /*Slideshow title customization*/
{
    font-size: 20px;
    text-align: center;
    font-family: 'Inter';
    color: #091D34;
}
.myTexts p /*Slideshow paragraph customization*/
{
    font-size: 15px;
    font-family: 'Roboto';
    color: #609CE1;
}




footer /*Position and css of footer*/
{
    width: 100%;
    background-color: #133863; 
    color: #609CE1;
    font-family: 'Raleway';
    position: absolute;
    top: 120%;
    text-align: center;
    font-size: 15px;
}





/*School of fish aesthetic image*/
.backgroundImage1
{
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 5%;
}
.backgroundImage1 img
{
    width: 300px;
}

.backgroundImage2 
{
    left: 90%;
    top: 96%;
    position: absolute;
    z-index: -1;
}
.backgroundImage2 img
{
    width: 100px;
}




/*ALL ON RESPONSIVENESS - ESPECIALLY FOR SLIDESHOW*/

@media screen and (max-width: 1100px) 
{
    .slideTexts
    {
        top: 79%;
        width: 40%;
    }
    
    .slideTexts h1
    {
        font-size: 18px;
    }
    
    .slideTexts p
    {
        font-size: 13px;
    }
}

@media screen and (max-width: 850px) 
{
    .slideshow
    {
        width: 70%;
        left: 2%;
        top: 75%;
    }
    
    .slideTexts
    {
        left: -47%;
        width: 90%;
        text-align: center;
        top: 110%;
    }
    
    footer
    {
        top: 140%;
        font-size: 10px;
    }
}

@media screen and (max-width: 1200px)
{
    .mySlides
    {
        width: 450px;
    }
    
    .slideshow
    {
        height: 30vh;
    }
}

@media screen and (max-width: 850px)
{
    .mySlides
    {
        width: 600px;
    }
}

@media screen and (max-width: 600px)
{
    .mySlides
    {
        width: 450px;
    }
}

@media screen and (max-width: 450px) 
{
    .slideshow
    {
        width: 70%;
        left: 2%;
        top: 70%;
    }
    
    .slideTexts
    {
        left: -47%;
        width: 90%;
        text-align: center;
        top: 110%;
    }
    
    footer
    {
        top: 145%;
        font-size: 9px;
    }
    
    .title
    {
        top: 33%;
    }
    .mySlides
    {
        width: 300px;
    }
}
