.title {
    width: 100%;
    position: absolute;
    top: 35%;
}

.title h1{
    font-size: 75px;
    letter-spacing: 10px;
    padding: 0;
    font-variant-caps: petite-caps;
    font-family: "Inter";
    text-align: center;
}

.title h2{
    font-size: 30px;
    padding: 0;
    margin-top: -35px;
    letter-spacing: 9px;
    font-variant-caps: petite-caps;
    font-family: "Inter";
    text-align: center;
}

.basic-background {
    background-color: #236AB9;
    color: #236AB9;
    width: 100%;
    position: absolute;
    top: 49%; 
    height: 71%; 
    z-index: -1;
    left: 0;
}

.slideshow {
    border: solid;
    border-color: #E1ECF9;
    border-width: 2px;
    position: absolute;
    width: 35%;
    left: 0;
    margin-left: 12.5%;
    top: 80%;
    height: 34vh;
    overflow: hidden;
    background-color: grey;
}

.slideshow img:hover{
    opacity: 0.7;
}
.slideTexts {
    position: absolute;
    width: 35%;
    left: 0;
    margin-left: 52.5%;
    top: 80%;
}

.myTexts h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Inter';
    color: #091D34;
    text-decoration: underline;
}

.myTexts p{
    font-size: 15px;
    font-family: 'Roboto';
    color: #609CE1;
}

.connecter {
    width: 30px;
    border-radius: 1px;
}

