body
{
    background-color: #133863;
}

.wBackground
{
    z-index: -1;
    position: absolute;
    background-color: #E1ECF9;
    top: 0;
    left: 0;
    height: 10.5%;
    width: 100%;
}

.wBackgroundTwo
{
    z-index: -1;
    position: absolute;
    background-color: #236AB9;
    top: 10.5%;
    left: 0;
    height: 70%;
    width: 100%;    
}

.container
{
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 30%;
    top: 15%;
    height: 100%;
}

.container .luwImages
{
    width: 100px;
    margin-left: -60px;
}


.container .goal14
{
    position: absolute; 
    font-family: "Inter";
    margin-top: -70px;
    margin-left: 60px;
    font-variant-caps: all-petite-caps;
    color: #609CE1;
}


.container ul
{
    margin-top: 100px;
    text-decoration: none;
}

.container li
{
    height: 75px;
    margin-top: 10px;
    width: 45%;
    text-decoration: none;
}

.container li img
{
    width: 75px;
    height: 75px;
    position: absolute;
    text-decoration: none;
}

.container li a
{
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    font-family: "Inter";
    font-variant-caps: all-small-caps;
    text-decoration: none;
    font-size: 25px;
    color: #E1ECF9;
}

.container li a:hover
{
    color: #609CE1;
}

.detailone
{
    position: absolute;
    z-index: 1;
    top: 50%;
}

.detailone img
{
    width: 200px;
}












