/*Basic setup*/
body
{
    top: 0;
    left: 0;
    background-color: #133863;
}





/*Background water colors setup*/
.wBackground
{
    z-index: -1;
    position: absolute;
    background-color: #E1ECF9;
    top: 0;
    left: 0;
    height: 10.5%;
    width: 100%;
}
.wBackgroundTwo
{
    z-index: -1;
    position: absolute;
    background-color: #236AB9;
    top: 10.5%;
    left: 0;
    height: 70%;
    width: 100%;    
}




/*Container setup*/
.container
{
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 30%;
    top: 15%;
    height: 100%;
}
/*Goal 14 image positioning*/
.container .luwImages
{
    width: 100px;
    margin-left: -60px;
}
/*Goal 14 text*/
.container .goal14
{
    position: absolute; 
    font-family: "Inter";
    margin-top: -70px;
    margin-left: 60px;
    font-variant-caps: all-petite-caps;
    color: #609CE1;
}
/*List of SDGs positioning*/
.container ul
{
    margin-top: 100px;
    text-decoration: none;
}
/*List text positioning*/
.container li
{
    height: 75px;
    margin-top: 10px;
    width: 45%;
    text-decoration: none;
}
/*Image positioning*/
.container li img
{
    width: 75px;
    height: 75px;
    position: absolute;
    text-decoration: none;
}
/*More adujustments to the ext positioning*/
.container li a
{
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    font-family: "Inter";
    font-variant-caps: all-small-caps;
    text-decoration: none;
    font-size: 25px;
    color: #E1ECF9;
}
/*Changes colors when hovering over, represents links*/
.container li a:hover
{
    color: #609CE1;
}





/*Background images css*/
.detailOne
{
    position: absolute;
    z-index: 1;
    top: 50%;
}
.detailOne img
{
    width: 200px;
}

.detailTwo
{
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 80%;
}
.detailTwo img
{
    width: 200px;
}

.detailThree 
{
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 10%;
}
.detailThree img
{
    width: 200px;
}



/*RESPONSIVNESS*/



/*Resizing at 850px*/
@media screen and (max-width: 850px)
{
    .container li a
    {
        font-size: 18px;
    }
    
    .container .goal14
    {
        margin-top: -90px;
        font-size: 30px;
    }
}

/*Resizing at 600px*/
@media screen and (max-width: 600px)
{
    .container li a
    {
        font-size: 15px;
    }
    
    .container
    {
        margin-left: -20px;
    }
    .container .goal14
    {
        margin-top: -120px;
    }
}



