/*Basic setup*/
body
{
    top: 0;
    left: 0;
    background-color: #133863;
}




/*water background positioning+sizing*/
.wBackgroundTwo
{
    z-index: -1;
    position: absolute;
    background-color: #236AB9;
    top: 0%;
    left: 0;
    height: 65%;
    width: 100%;    
}




/*Container*/
.container
{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 20%;
    left: 20%;
}
/*positioning of website section*/
.container .websiteSection
{
    position: absolute;
    width: 100%;
}
/*positioning of website title*/
.container h1
{
    text-align: center;
    font-family: "Inter";
    color: #E1ECF9;
}
/*website images css*/
.container .websiteSection img
{
    width: 200px;
    margin-top: 50px;
    position: absolute;
}
/*hover to represent link*/
.container .websiteSection a:hover
{
    opacity: 0.7;
}
/*Different website titles*/
.container .websiteSection h2
{
    position: absolute;
    width: 90%;
    margin-top: 50px;
    margin-left: 220px;
    font-family: "Raleway";
    color: #609CE1;
}
/*Css for each website paragraph*/
.container .websiteSection p
{
    position: absolute; 
    margin-left: 220px;
    margin-top: 100px;
    font-family: "Roboto";
    color: #E1ECF9;
}
/*Positioning of website 2*/
.container .websiteSection2
{
    position: absolute;
    width: 100%;
    margin-top: 250px;
}
/*Positioning of website title*/
.container .websiteSection2 h1
{
    text-align: center;
    font-family: "Inter";
    color: #E1ECF9;
}
/*Positioning of website image*/
.container .websiteSection2 img
{
    width: 200px;
    margin-top: 50px;
    position: absolute;
}
/*change color to represent link*/
.container .websiteSection2 a:hover
{
    opacity: 0.7;
}
/*Website title 2*/
.container .websiteSection2 h2
{
    position: absolute;
    width: 90%;
    margin-top: 50px;
    margin-left: 220px;
    font-family: "Raleway";
    color: #609CE1;
}
/*Paragraph for second website css*/
.container .websiteSection2 p
{
    position: absolute; 
    margin-left: 220px;
    margin-top: 100px;
    font-family: "Roboto";
    color: #E1ECF9;
}
/*Positioning of sources*/
.container .allSources
{
    margin-top: 500px;
}
/*List adjustments*/
.container ul
{
    width: 30%;
    margin-left: 32%;
}
/*Font*/
.container ul a 
{
    color: blue;
    font-family: "Roboto";
    text-decoration: none;
}
/*represent links*/
.container ul a:hover
{
    opacity: 0.8;
}

/*Aesthetic Image positioning*/
.backgroundImage2
{
    position: absolute;
    z-index: -1;
    left: 60%;
    top: 100%;
}
.backgroundImage3
{
    position: absolute;
    z-index: -1;
    left: 70%;
    top: 10%;
}


/*RESPONSIVNESS*/



/*Resizing at 850px*/
@media screen and (max-width: 850px)
{
    .websiteSection
    {
        width: 90%;
        margin-left: -50px;
    }
    
    .websiteSection h1
    {
        margin-left: 50px;
    }
    
    .websiteSection2
    {
        width: 90%;
        margin-left: -50px;
    }
    
    .websiteSection p
    {
        width: 80%;
    }
    
    .websiteSection2 p
    {
        width: 80%;
    }
    
    .websiteSection a h2
    {
        margin-left: 300px;
    }
    
    .container ul
    {
        width: 30%;
        margin-left: 28%;
    }
}


/*Resizing at 700px*/
@media screen and (max-width: 700px)
{
    .websiteSection p
    {
        font-size: 13px;
        width: 75%;
    }
    
    .websiteSection h1 
    {
        margin-left: 100px;
    }
    
    .websiteSection2 p
    {
        font-size: 13px;
        width: 75%;
    }
    
    img 
    {
        margin-left: -20px;
    }
    
    .container ul
    {
        width: 30%;
        margin-left: 22%;
    }
}

