body, html
{
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
}

.bg
{
    background-image: url("/assets/images/homebackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.menu 
{
    left: 62%;
    top: 2%;
    width: 40%;
    overflow: auto;
    z-index: 1;
    position: absolute;
    font-family: 'Raleway';
    text-align: center;
    font-variant-caps: all-petite-caps;
}

.menu a
{
    display: inline-flex;
    width: 23%;
    color: #C7D6D5;
    text-decoration: none;
    font-size: 2vw;
}


.menu a:hover 
{
    color: #fff;
}

.menu .homecolor 
{
    color: #C20114;
}
