/*Basic setup*/
body
{
    top: 0;
    left: 0;
    background-color: #133863;
}





/*Background colors*/
.wBackground
{
    z-index: -1;
    position: absolute;
    background-color: #E1ECF9;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
}
.wBackgroundTwo
{
    z-index: -1;
    position: absolute;
    background-color: #236AB9;
    top: 30%;
    left: 0;
    height: 70%;
    width: 100%;    
}





/*Main container*/
.container
{
    position:absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    z-index: 2;
    height: 100%;
}
/*Adjustment of quote*/
.container .intro
{
    text-align: center;
    font-family: "Raleway";
    color: #609CE1;
    font-size: 20px;
}
/*First section adjustment*/
.container .everydayLife
{
    margin-top: 75px;
}
/*Title customization*/
.container h2
{
    color: #133863;
    font-family: "Inter";
    margin-left: 2%;
}
/*List adjustments*/
.container li 
{
    width: 75%;
    color: #E1ECF9;
    font-family: "Roboto";
}
/*Recycle image positioning*/
.container .everydayLife .image1
{
    width: 20%;
    position: absolute;
    margin-left: 80%;
    margin-top: -145px;
    height: 20%;
    overflow: hidden;
}
/*Underwater image positioning*/
.container .extraSteps .image2
{
    width: 20%;
    position: absolute;
    margin-left: 80%;
    height: 20%;
    margin-top: -155px;
    overflow: hidden;
}



/*RESPONSIVNESS*/



/*Adjustments at 850px*/
@media screen and (max-width: 850px)
{
    .intro
    {
        width: 80%;
        margin-left: -50px;
        margin-top: -30px;
    }
}






